NODE_ENV=development
PORT=3001
APP_NAME=BLADE
SERVICE_NAME=blade-backend
FRONTEND_URL=http://localhost:5173
SKIP_AUTH=true
SECRET_PATH_AZURE=blade/dev/azure-ad
LUMEN_AZURE_TENANT_ID=
BLADE_AZURE_CLIENT_ID=
AUTHORIZED_USERS_GROUP_ID=
AUTHORIZED_ADMINS_GROUP_ID=
AWS_REGION=us-east-2
